* {
    margin: 0;
}

nav {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
}

nav>ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 2rem;
}


nav>ul>a {
    color: white;
    text-decoration: none;
    padding: 0.25rem;
}

nav>ul>a:hover {
    background-color: white;
    color: black;
}

.search-bar {
    margin-top: 2.5rem;
    width: 98vw;
    display: flex;
    justify-content: center;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table,
th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 0.25rem;
}

th {
    background-color: whitesmoke;
}

table {
    margin-top: 1rem;
}

#logo-img {
    width: 128px;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 25vw;
}

.form-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.output-container {
    margin-top: 1rem;
    text-align: center;
    color: red;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
}

.isbn-container {
    display: flex;
    text-align: left;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.isbn-ok {
    border: 2px solid greenyellow;
}

.not-ok {
    border: 2px solid red;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.delete-button {
    margin-top: 1rem;
    background-color: salmon;
    color: white;
}

.delete-button:hover {
    background-color: red;
}